/* Sets some standard fonts and sets the margin and padding to 0, as per usual. */
html,
body {
    font-family: "Open Sans", sans-serif;
    margin: 0;
    padding: 0;
}
/* Sets the display to inline-block, thus aligning the blocks horizontally. */
nav > ul > li {
    display: inline-block;
}
/* Sets some general properties for the navbar. */
nav {
    /* Sets the position to absolute, although this is not really adhering to industry standards, it's in this case the easiest way. */
    position: absolute;
    /* Sets the top to 0, making the navbar stay on the top. */
    top: 0;
    width: 100%;
    background: #2c3e50;
    padding: 0;
    /* em is a standard for responsive design, of which the normal size is around 14px. */
    padding-bottom: 1em;
}

li {
    float: right;
    padding: 0.5em 1em 1em 1em;
    font-size: 1rem;
}

li > a {
    color: #ffffff;
    text-decoration: none;
}

li.left-float {
    float: left;
    padding: 0;
}

li.left-float > a > img {
    width: 3rem;
}

.header {
    font-size: 3rem;
}

.subheader {
    font-size: 1rem;
}

.main-features > .subheader {
    margin-top: 1rem;
    position: relative;
}

div.row.main-features > div.eight.wide.column {
    padding: 0 !important;
    margin-right: 10%;
    width: 40% !important;
}

.btn {
    font-size: 1rem;
    background: #3498db;
    border-radius: 0.25em;
    padding: 1em 2em;
    border: none;
    color: #ffffff;
}

.btn > a:hover {
    color: #ffffff;
}

.btn > a {
    text-decoration: none;
    color: #ffffff;
}

.column > .main-header {
    font-size: 3rem;
    text-align: center;
}

.column > .sub-header {
    font-size: 1rem;
    left: 50%;
    position: relative;
    transform: translate(-50%);
    text-align: center;
    max-width: 800px;
}

.sub-header-button {
    padding: 1em 2em;
    border-radius: 0.25em;
    background: #3498db;
    font-size: 1rem;
    color: #ffffff;
    border: none;
}

.ui.grid.main {
    padding-top: 200px;
    width: 100%;
    background-color: #2c3e50;
    color: #ffffff;
    padding-bottom: 200px;
}

.main-info > .subheader {
    margin-top: 1rem;
    max-width: 800px;
    position: relative;
    left: 50%;
    transform: translate(-50%);
}

.main-info {
    padding-top: 100px;
    text-align: center;
    left: 50%;
    transform: translate(-50%);
    width: calc((100% / 16) * 5) !important;
}

.field-message {
    height: auto;
}

.ui.grid {
    margin: 0 !important;
}

.card {
    /* Using a linear-gradient for the card looks way better in most cases. */
    background: linear-gradient(87deg, #f4f5f7 0, #f4f4f7 100%) !important;
    /* Setting the box-shadow gives the card a bit of depth. */
    box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1),
        0 5px 15px rgba(0, 0, 0, 0.07) !important;
    /* Display: flex sets the flexible length on flexible items. */
    display: flex;
    /* Sets the direction the flexible items will assume. */
    flex-direction: column;
    /* Makes it so the width can't be 0. */
    min-width: 0;
    /* Allows long words to break and wrap onto the next line if needed. */
    word-wrap: break-word;
    /* Seting the border to a light grey, so you barely see it. */
    border: 0.0625rem solid rgba(0, 0, 0, 0.05);
    /* Rounds off the card. */
    border-radius: 0.25rem;
}

.card-body {
    padding: 3rem !important;
    /* Sets the order of the flexible item. */
    flex: 1 1 auto;
}

.btn.default {
    border: 1px solid transparent;
    border-color: #172b4d;
    background-color: #172b4d;
    /* Makes the text uppercase. */
    text-transform: uppercase;
    font-size: 1rem;
    /* Sets the letter spacing manually, as sometimes the automatic this can look way better. */
    letter-spacing: 0.025em;
    padding: 0.875rem 1rem;
    border-radius: 0.3rem;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
    /* Sets how bold the font is. */
    font-weight: 600 !important;
    /* Removes the text-shadow. */
    text-shadow: none;
    /* Removes the indentation of the first line in a text-block. */
    text-indent: 0px;
    /* Uses the default text-rendering of the browser. */
    text-rendering: auto;
    /* Sets the font variant. */
    font-variant-numeric: normal;
    font-variant-ligatures: normal;
    font-variant-east-asian: normal;
    font-variant-caps: normal;
    /* Sets the letter spacing. */
    letter-spacing: 0.35px;
    /* Sets the height of the lines. */
    line-height: 1.5;
}

.mb-1 {
    margin-bottom: 0.25rem;
}

.mt-0 {
    margin-top: 0;
}

h4 {
    font-size: 1.5rem !important;
    color: #32325d;
    font-weight: 400;
    line-height: 1.5;
    /* Sets where the text will align itself. */
    text-align: left;
}

p {
    text-align: left;
}

.mt-5 {
    margin-top: 3rem;
}

.mb-4 {
    margin-bottom: 1.5rem !important;
}
