/* Sets some standard fonts and sets the margin and padding to 0, as per usual. */
html,
body {
    font-family: "Open Sans", sans-serif;
    margin: 0;
    padding: 0;
}
/* Sets the display to inline-block, thus aligning the blocks horizontally. */
nav > ul > li {
    display: inline-block;
}
/* Sets some general properties for the navbar. */
nav {
    /* Sets the position to absolute, although this is not really adhering to industry standards, it's in this case the easiest way. */
    position: absolute;
    /* Sets the top to 0, making the navbar stay on the top. */
    top: 0;
    width: 100%;
    background: #2c3e50;
    padding: 0;
    /* em is a standard unit. */
    padding-bottom: 1em;
}

li {
    /* Floating the lists right. */
    float: right;
    padding: 0.5em 1em 1em 1em;
    /* rem = relative to the font size of the root element */
    font-size: 1rem;
}

li > a {
    /* Sets the text color to white. */
    color: #ffffff;
    /* Removes the weird text decoration every browser does automatically. */
    text-decoration: none;
}

li.left-float {
    /* Floating the first element (the icon) on the left, also removing the padding as it'd look bad. */
    float: left;
    padding: 0;
}

li.left-float > a > img {
    width: 3rem;
}

.header {
    font-size: 3rem;
}

.subheader {
    font-size: 1rem;
}

.main-features > .subheader {
    /* Setting the margin-top to 1 rem as otherwise there'd be no spacing between the header and the subheader,
    also setting the position to relative as it has to be relative to the normal header. */
    margin-top: 1rem;
    position: relative;
}

div.row.main-features > div.eight.wide.column {
    padding: 0 !important;
    margin-right: 10%;
    width: 40% !important;
}

.container {
    /* Setting the margin-left and margin-right to auto centers the container. */
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

/* Just some responsiveness things. */
@media screen and (min-width: 768px) {
    .container {
        width: 720px;
    }
}

@media screen and (min-width: 992px) {
    .container {
        width: 933px;
    }
}

@media screen and (min-width: 1200px) {
    .container {
        width: 1127px;
    }
}

.eight.wide.column img {
    height: auto;
    max-width: 100%;
}

.main-features {
    margin-top: 100px;
    text-align: center;
    /* Display inline-block makes it so the items contained in this div will be aligned next to eachother, instead of under eachother. */
    display: inline-block;
}

.eight.wide.column {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.feature-text,
.feature-image {
    padding-left: 1rem;
    padding-right: 1rem;
}

.sub-header-button:hover {
    /* Sets the cursor to a pointer, so it indicates that you can click it. */
    cursor: pointer;
}

.mt-1 {
    margin-top: 1rem;
}

.btn {
    font-size: 1rem;
    /* Setting the background-color to a light blue. */
    background: #3498db;
    /* Setting the border-radius makes the button a little bit rounded. */
    border-radius: 0.25em;
    padding: 1em 2em;
    border: none;
    color: #ffffff;
}

.btn > a:hover {
    color: #ffffff;
}

.btn > a {
    text-decoration: none;
    color: #ffffff;
}

div.header {
    margin-bottom: 1.75rem;
}

.mt-100 {
    margin-top: 100px !important;
}

.btn:hover {
    cursor: pointer;
}

.main-info > .subheader {
    margin-top: 1rem;
    max-width: 800px;
    /* Setting the position is needed for the `left` and `transform` attributes, which align the subheader to the center. */
    position: relative;
    left: 50%;
    transform: translate(-50%);
}

.main-info {
    padding-top: 100px;
    text-align: center;
}

.ui.grid.main {
    padding-top: 200px;
    width: 100%;
    background-color: #2c3e50;
    color: #ffffff;
    padding-bottom: 200px;
}

.ui.grid {
    margin: 0 !important;
}

.column > .main-header {
    font-size: 3rem;
    text-align: center;
}

.column > .sub-header {
    font-size: 1rem;
    left: 50%;
    position: relative;
    transform: translate(-50%);
    text-align: center;
    max-width: 800px;
}

.sub-header-button {
    padding: 1em 2em;
    border-radius: 0.25em;
    background: #3498db;
    font-size: 1rem;
    color: #ffffff;
    border: none;
}
